#musicheader {
    letter-spacing: 7px
}

#regImg {
    background-image: url('images/eminem.jpg');
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    background-size: fill;
}