#musicheader,
#new {
    letter-spacing: 6px
}

#newsletter {
    height: 500px;
}


/* #eminem {
    background-image: url('images/eminem.jpg');
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
    background-size: auto;
    background-size: cover;
} */