#musicheader {
    letter-spacing: 7px
}

#regImg {
    background-image: url('images/eminem.jpg');
    background-repeat: no-repeat;
    background-position-x: ;
    background-position-y: top;
    background-size: auto;
    background-size: cover;
}